*{
    
    margin: 0;
    padding: 0;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

body{
    background: #f5f5f5;
    min-height:100vh ;
}
.swiper-container{
    width: 300px;
    height: 300px;
    /* position: absolute; */
    margin-top: 20%;
    /* left: 50%; */
    /* top: 50%; */
    /* margin-left: -150px;
    margin-top: -150px; */
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    background: #f2f2f2;
  }
  .swiper-container .swiper-slide .img-box img{

    width:100% ;
    height: 100%;
    position: absolute;
    top:0 ;
    left:0 ;
    object-fit: cover;


  }
  .swiper-container .swiper-slide .content{
      position: absolute;
      width: 100%;
      height: 80px;
      position: absolute;
      bottom: 0;
      background: #fff;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;


     }

     .swiper-container .swiper-slide .content h2{
         font-size: 20px;
     }

     .swiper-container .swiper-slide .content h2 span{
         font-size: 16px;
         color: #f44336;

     }

     a{
      text-decoration: inherit;
  }
   
  .ajouterper:hover
  
  {
      color: #31ff8e;
      font-family: "proxima nova";
      font-weight: 100;
      font-size: 56px;
      text-align: center;
      border: solid 2px #31ff8e;
      border-radius: 50px;
      padding: 10px 50px;
  }
   
  .ajouterper:hover 
  {
    background-color: #31ff8e;
    color: #000;
  }
